In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

C:\Users\Shaya\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [34]:
all_cols = ['FAMILYID', 'DOWNGRADE_REASON_CODE', 'DOWNGRADE_DATE', 'RECENCY_DATE',
   'LOCATION_TYPE', 'PRIMARY_FAMILY_IND', 'HOUSEHOLDSTATUS',
   'TRADELINE_COUNT', 'HEAD_HH_AGE_CODE', 'LENGTH_OF_RESIDENCE',
   'CHILDRENHHCOUNT', 'CHILDREN_IND', 'ADDRESSTYPE', 'MAILABILITY_SCORE',
   'WEALTH_FINDER_SCORE', 'FIND_DIV_1000', 'OWNER_RENTER_STATUS',
   'ESTMTD_HOME_VAL_DIV_1000', 'MARITAL_STATUS', 'PPI_DIV_1000',
   'MSA2000_CODE', 'MSA2000_IDENTIFIER', 'CSA2000_CODE', 'CBSACODE',
   'CBSATYPE', 'CSACODE', 'LOCATIONID', 'HOUSE_NUM', 'HOUSE_NUM_FRACTION',
   'STREET_PRE_DIR', 'STREET_NAME', 'STREET_POST_DIR', 'STREET_SUFFIX',
   'UNIT_TYPE', 'UNIT_NUM', 'BOX_TYPE', 'BOX_NUM', 'ROUTE_TYPE',
   'ROUTE_NUM', 'CITY', 'STATE', 'ZIP', 'ZIP4', 'DPBC', 'VACANT',
   'USPSNOSTATS', 'GE_LATITUDE_2010', 'GE_LONGITUDE_2010',
   'GE_CENSUS_LEVEL_2010',
   'GE_CENSUS_TRACT', 'GE_CENSUS_BG', 'GE_ALS_COUNTY_CODE_2010',
   'GE_ALS_CENSUS_BG_2010', 'Individualid_1',
   'first_name_1', 'middle_name_1', 'last_name_1', 'suffix_code_1',
   'gender_1', 'Ethnicity_Code_1', 'Individualid_2', 'first_name_2',
   'middle_name_2', 'last_name_2', 'suffix_code_2', 'gender_2',
   'Ethnicity_Code_2', 'Individualid_3', 'first_name_3', 'middle_name_3',
   'last_name_3', 'suffix_code_3', 'gender_3', 'Ethnicity_Code_3',
   'Individualid_4', 'first_name_4', 'middle_name_4', 'last_name_4',
   'suffix_code_4', 'gender_4', 'Ethnicity_Code_4', 'Individualid_5',
   'first_name_5', 'middle_name_5', 'last_name_5', 'suffix_code_5',
   'gender_5', 'Ethnicity_Code_5', 'GEOID10']
dtypes = dict(zip(all_cols, [np.str] * len(all_cols)))

df = pd.read_csv('infogroup_SF_2019_all.csv', dtype=dtypes)
df.head()

,Unnamed: 0,FAMILYID,DOWNGRADE_REASON_CODE,DOWNGRADE_DATE,RECENCY_DATE,LOCATION_TYPE,PRIMARY_FAMILY_IND,HOUSEHOLDSTATUS,TRADELINE_COUNT,HEAD_HH_AGE_CODE,...,gender_4,Ethnicity_Code_4,Individualid_5,first_name_5,middle_name_5,last_name_5,suffix_code_5,gender_5,Ethnicity_Code_5,GEOID10
0,15056,000000846080,NaN,000000,201808,S,1,F,00,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06075060100
1,23931,000001307038,NaN,000000,201809,S,0,F,00,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06075016100
2,58058,000003215430,NaN,000000,201902,M,1,F,01,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06075011100
3,61540,000003459769,NaN,000000,201902,M,1,F,00,G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06075010400
4,63596,000003611142,NaN,000000,201905,M,0,F,03,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06075030102

## TODO: Create Household Size variable, drop all individuals' columns except for Ethnicity_CODE_1

Keep ALL Ethnicity codes, create "mixed" variable for whether all ethnicities are the same

In [35]:
df.drop(labels=['Unnamed: 0', 'CSA2000_CODE', 'CBSACODE', 'CBSATYPE', 'CSACODE', 'CITY', 'STATE', 'ZIP4',
        'DOWNGRADE_REASON_CODE', 'DOWNGRADE_DATE', 'HOUSEHOLDSTATUS', 'LENGTH_OF_RESIDENCE',
        'GE_ALS_COUNTY_CODE_2010', 'GE_CENSUS_BG', 'GE_CENSUS_TRACT', 'GE_CENSUS_LEVEL_2010',
        'MAILABILITY_SCORE', 'PPI_DIV_1000', 'MSA2000_CODE', 'MSA2000_IDENTIFIER', 'LOCATIONID',
        'HOUSE_NUM_FRACTION', 'BOX_TYPE', 'BOX_NUM', 'ROUTE_TYPE', 'ROUTE_NUM', 'DPBC', 'USPSNOSTATS',
        'first_name_1', 'middle_name_1', 'last_name_1', 'suffix_code_1', 'gender_1',
        'first_name_2', 'middle_name_2', 'last_name_2', 'suffix_code_2', 'gender_2',
        'first_name_3', 'middle_name_3', 'last_name_3', 'suffix_code_3', 'gender_3',
        'first_name_4', 'middle_name_4', 'last_name_4', 'suffix_code_4', 'gender_4',
        'first_name_5', 'middle_name_5', 'last_name_5', 'suffix_code_5', 'gender_5'],
        inplace=True, axis=1)
df.head()

,FAMILYID,RECENCY_DATE,LOCATION_TYPE,PRIMARY_FAMILY_IND,TRADELINE_COUNT,HEAD_HH_AGE_CODE,CHILDRENHHCOUNT,CHILDREN_IND,ADDRESSTYPE,WEALTH_FINDER_SCORE,...,Ethnicity_Code_1,Individualid_2,Ethnicity_Code_2,Individualid_3,Ethnicity_Code_3,Individualid_4,Ethnicity_Code_4,Individualid_5,Ethnicity_Code_5,GEOID10
0,000000846080,201808,S,1,00,D,0,1,S,2176,...,E5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06075060100
1,000001307038,201809,S,0,00,D,0,0,S,0917,...,E5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06075016100
2,000003215430,201902,M,1,01,M,0,0,S,2487,...,00,301066999848,00,NaN,NaN,NaN,NaN,NaN,NaN,06075011100
3,000003459769,201902,M,1,00,G,1,1,S,2732,...,E5,000006098197,E5,200006098198,E5,NaN,NaN,NaN,NaN,06075010400
4,000003611142,201905,M,0,03,C,0,0,S,3298,...,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06075030102

In [36]:
df.columns

Index(['FAMILYID', 'RECENCY_DATE', 'LOCATION_TYPE', 'PRIMARY_FAMILY_IND',
       'TRADELINE_COUNT', 'HEAD_HH_AGE_CODE', 'CHILDRENHHCOUNT',
       'CHILDREN_IND', 'ADDRESSTYPE', 'WEALTH_FINDER_SCORE', 'FIND_DIV_1000',
       'OWNER_RENTER_STATUS', 'ESTMTD_HOME_VAL_DIV_1000', 'MARITAL_STATUS',
       'HOUSE_NUM', 'STREET_PRE_DIR', 'STREET_NAME', 'STREET_POST_DIR',
       'STREET_SUFFIX', 'UNIT_TYPE', 'UNIT_NUM', 'ZIP', 'VACANT',
       'GE_LATITUDE_2010', 'GE_LONGITUDE_2010', 'GE_ALS_CENSUS_BG_2010',
       'Individualid_1', 'Ethnicity_Code_1', 'Individualid_2',
       'Ethnicity_Code_2', 'Individualid_3', 'Ethnicity_Code_3',
       'Individualid_4', 'Ethnicity_Code_4', 'Individualid_5',
       'Ethnicity_Code_5', 'GEOID10'],
      dtype='object')

# Now for real cleaning

## 1: Recency Date

In [37]:
df.RECENCY_DATE = pd.to_datetime(df.RECENCY_DATE.str.slice(stop=4) + '-' + df.RECENCY_DATE.str.slice(start=4))#.dt.strftime('%Y-%m')
type(df.RECENCY_DATE[0])

pandas._libs.tslibs.timestamps.Timestamp

In [39]:
df.head()

,FAMILYID,RECENCY_DATE,LOCATION_TYPE,PRIMARY_FAMILY_IND,TRADELINE_COUNT,HEAD_HH_AGE_CODE,CHILDRENHHCOUNT,CHILDREN_IND,ADDRESSTYPE,WEALTH_FINDER_SCORE,...,Ethnicity_Code_1,Individualid_2,Ethnicity_Code_2,Individualid_3,Ethnicity_Code_3,Individualid_4,Ethnicity_Code_4,Individualid_5,Ethnicity_Code_5,GEOID10
0,000000846080,2018-08-01,S,1,00,D,0,1,S,2176,...,E5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06075060100
1,000001307038,2018-09-01,S,0,00,D,0,0,S,0917,...,E5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06075016100
2,000003215430,2019-02-01,M,1,01,M,0,0,S,2487,...,00,301066999848,00,NaN,NaN,NaN,NaN,NaN,NaN,06075011100
3,000003459769,2019-02-01,M,1,00,G,1,1,S,2732,...,E5,000006098197,E5,200006098198,E5,NaN,NaN,NaN,NaN,06075010400
4,000003611142,2019-05-01,M,0,03,C,0,0,S,3298,...,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06075030102

## 2: Location Type

In [40]:
loc_types = {'M':'MFDU', 'N':'Nursing Home', 'R':'Retirement Home', 'S':'SFDU', 'T':'Trailer', 'U':'Undefined'}
df.LOCATION_TYPE = df.LOCATION_TYPE.replace(loc_types)
df.LOCATION_TYPE.head()

0    SFDU
1    SFDU
2    MFDU
3    MFDU
4    MFDU
Name: LOCATION_TYPE, dtype: object

## 3: TRADELINE_COUNT

In [43]:
df.TRADELINE_COUNT = df.TRADELINE_COUNT.astype(int)
df.TRADELINE_COUNT.head(2)

0    0
1    0
Name: TRADELINE_COUNT, dtype: int32

## Age Codes

In [44]:
age_map = {'A' : '<25', 'B':'25-29', 'C':'30-34', 'D':'35-39', 'E':'40-44', 'F':'45-49', 'G':'50-54', 'H':'55-59', 'I':'60-64', 'J':'65+',
'K':'65-69', 'L':'70-74', 'M':'75+'}
df.HEAD_HH_AGE_CODE = df.HEAD_HH_AGE_CODE.replace(age_map)
df.HEAD_HH_AGE_CODE.head()

0    35-39
1    35-39
2      75+
3    50-54
4    30-34
Name: HEAD_HH_AGE_CODE, dtype: object

## Address Type

In [ ]:
# def fix_income(df):
#     df['Income'] = df['FIND_DIV_1000'].astype(int) * 1000
#     df = df.drop(labels='FIND_DIV_1000', axis=1)
#     df = client.persist(df)
#     return df

# ig_puget = fix_income(ig_puget)
# ig_puget.head()

# def set_renter(df):
#     df['Renter'] = (df['OWNER_RENTER_STATUS'].astype(int) < 4).astype(int)
#     df = df.drop(labels='OWNER_RENTER_STATUS', axis=1)
#     df = client.persist(df)
#     return df

# ig_puget = set_renter(ig_puget)
# ig_puget.head()

# def ethnic_coding(df):
#     # fix ethnic coding
#     ethnicity = pd.read_csv('ethnicity_coding.csv')[['INFOGROUP_CODE', 'RACE']].groupby('INFOGROUP_CODE').agg(max).RACE.to_dict()
#     df['Race'] = df['Ethnicity_Code_1'].replace(ethnicity)
#     df = df.drop(labels='Ethnicity_Code_1', axis=1)
#     df = client.persist(df)
#     return df

# ig_puget = ethnic_coding(ig_puget)
# ig_puget.head()